<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Désinscription</title>
</head>

<body>
    <h1>Désinscription</h1>
    <form action="/desinscription" method="POST">
        <label for="atelier">Choisissez l'atelier :</label>
        <select name="atelier" id="atelier" required>
            <option value="">Sélectionnez l'atelier</option>
            <option value="Atelier d'improvisation avancée">Atelier d'improvisation avancée</option>
            <option value="Atelier d'improvisation tous niveaux">Atelier d'improvisation tous niveaux</option>
            <option value="Atelier d'éloquence">Atelier d'éloquence</option>
        </select>
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" required>
        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" id="prenom" required>
        <button type="submit">Se désinscrire</button>
    </form>
</body>

</html>