<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Improse Toi - Association d'éloquence et d'improvisation</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
    }

    .container {
      width: 80%;
      margin: 20px auto;
      text-align: center;
    }

    h1 {
      color: #007bff;
    }

    h2 {
      color: #009688;
    }

    p {
      color: #666;
    }

    .button {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      margin: 10px;
    }

    .button:hover {
      background-color: #0056b3;
    }

    .banner {
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="../img/improsetoi.png" alt="logo de l'association" width="100px" height="100px">
    <h1>Improse Toi</h1>
    <p>Activités</p>
    <p>Imp(r)ose-toi ! est une association qui propose des activités d'improvisation, de théâtre, de débat et
      d'éloquence.</p>
    <p>Envie de découvrir l'éloquence et/ou l'improvisation ? L'association organise chaque semaine des ateliers
      d'improvisation et des ateliers d'éloquence animés par des professionnels extérieurs.</p>
    <p>Envie d'un challenge ? Avec l'événement "Improse ton Challenge", vous aurez moins de 24h pour écrire, réaliser et
      jouer une pièce de théâtre devant un public.</p>
    <p>Passionné d'éloquence ? L'association organise le concours annuel d'éloquence de l'Université en partenariat avec
      la Faculté de Droit.</p>
    <p>Ou simplement envie de rencontrer d'autres étudiants venus de tout horizon ? Alors rejoins-nous !</p>
    <img src="../img/banniere.png" alt="banniere de l'asso" class="banner">
    <h2>Nos ateliers :</h2>
    <ul>
      <li>Atelier d'improvisation avancée</li>
      <li>Atelier d'improvisation tous niveaux</li>
      <li>Atelier d'éloquence</li>
    </ul>
    <a href="/inscription" class="button">S'inscrire à un atelier</a>
    <a href="/list" class="button">Liste des personnes présentes par atelier</a>
    <a href="/desinscription" class="button">Se désinscrire à un atelier</a>
    <a href="/presence" class="button">Signaler votre présence</a>
  </div>
</body>

</html>