<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enregistrement de la présence</title>
</head>

<body>
  <h1>Enregistrement de la présence</h1>
  <form action="/presence" method="POST">
    <label for="atelier">Atelier :</label>
    <select name="atelier" id="atelier" required>
      <option value="Improvisation Tout Niveau">Improvisation Tout Niveau</option>
      <option value="Improvisation Avancée">Improvisation Avancée</option>
      <option value="Éloquence">Éloquence</option>
    </select>
    <label for="nom">Nom :</label>
    <input type="text" name="nom" id="nom" required>
    <label for="prenom">Prénom :</label>
    <input type="text" name="prenom" id="prenom" required>
    <button type="submit">Enregistrer la présence</button>
  </form>
</body>

</html>