<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords"
        content="​Lessons &amp;amp; Practice, ​Meet some of our partners!, ​Integrity. Uniqueness. Enjoyment. Ever Forward., ​Our Mission, Contact Us">
    <meta name="description" content="Improse Toi association d'éloquence et d'improvisation">
    <title>Redirection</title>
    <link rel="stylesheet" href="/styles/nicepage.css" media="screen">
    <link rel="stylesheet" href="/styles/title.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">




    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/improsetoi.png"
}</script>
    <meta name="theme-color" content="#4551dd">
    <meta property="og:title" content="title">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="fr">
    <header class="u-clearfix u-header u-header" id="sec-fe69">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="/" class="u-image u-logo u-image-1" data-image-width="305" data-image-height="305">
                <img src="images/improsetoi.png" class="u-logo-image u-logo-image-1">
            </a>
        </div>
    </header>
    <section
        class="u-align-center-sm u-align-center-xs u-align-right-lg u-align-right-md u-align-right-xl u-clearfix u-palette-1-base u-section-1"
        id="sec-d422">
        <div
            class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
            <div alt="" class="u-image u-image-circle u-image-1" data-image-width="305" data-image-height="305"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
            <div class="u-bottom-left-radius-19 u-container-align-left u-container-style u-group u-palette-1-base u-shape-round u-top-left-radius-19 u-group-1"
                data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-container-layout-1">
                    <h1 class="u-align-left u-text u-text-body-alt-color u-text-default u-text-1">Documentation site
                    </h1>
                </div>
            </div>
            <p class="u-align-right u-text u-text-body-alt-color u-text-default u-text-2" data-animation-name="fadeIn"
                data-animation-duration="1000" data-animation-direction="Up" data-animation-delay="750">Improse Toi</p>
        </div>
    </section>
    <section class="u-clearfix u-container-align-center u-palette-1-base u-section-2" id="carousel_b3ce">
        <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
            <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-60 u-layout-cell-1"
                            data-animation-name="customAnimationIn" data-animation-duration="1500"
                            data-animation-delay="500">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h3 class="u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-default u-text-1"
                                    data-animation-name="customAnimationIn" data-animation-duration="1500"
                                    data-animation-delay="750">
                                    <section id="introduction">
                                        <h2>1. Introduction</h2>
                                        <p>Le site web d'Improse Toi est une plateforme dynamique conçue pour soutenir
                                            les activités de l'association d'improvisation et d'éloquence du même nom.
                                            Il vise à faciliter la gestion des inscriptions aux ateliers, la collecte
                                            des présences, la création de bilans d'événements et à fournir des
                                            informations pertinentes aux membres et aux visiteurs.</p>
                                    </section>
                                    <br><br>
                                    <section id="architecture">
                                        <h2>2. Architecture du Site</h2>
                                        <p>Le site web d'Improse Toi est construit sur une architecture robuste et
                                            modulaire, utilisant une combinaison de technologies modernes pour assurer
                                            son bon fonctionnement. Voici une vue d'ensemble des principaux composants
                                            de l'architecture du site :</p>
                                        <ul>
                                            <li><strong>Express JS :</strong> Le site est développé à l'aide du
                                                framework Node.js Express, qui permet de créer des applications web
                                                robustes et performantes. Express JS est utilisé pour gérer les routes,
                                                les requêtes HTTP et les réponses du serveur.</li>
                                            <li><strong>MongoDB :</strong> La base de données du site est basée sur
                                                MongoDB, une base de données NoSQL flexible et évolutive. MongoDB est
                                                utilisé pour stocker les informations sur les utilisateurs, les
                                                ateliers, les événements et les présences.</li>
                                            <li><strong>Contrôleurs :</strong> Le dossier des contrôleurs contient les
                                                fichiers JavaScript qui définissent la logique métier de l'application.
                                                Chaque contrôleur est responsable de gérer un aspect spécifique du site,
                                                comme l'inscription des utilisateurs aux ateliers, la gestion des
                                                présences ou la création de bilans d'événements.</li>
                                            <li><strong>Tâches Cron :</strong> Des tâches cron sont mises en place pour
                                                exécuter des actions planifiées de manière récurrente, telles que la
                                                suppression automatique des inscriptions aux ateliers chaque vendredi
                                                matin.</li>
                                            <li><strong>Modèles :</strong> Le dossier des modèles contient les schémas
                                                de données MongoDB utilisés par l'application. Ces modèles définissent
                                                la structure des collections de données et permettent d'interagir avec
                                                la base de données de manière cohérente.</li>
                                            <li><strong>Dossier Public :</strong> Ce dossier contient les ressources
                                                statiques du site, telles que les images, les fichiers CSS et JavaScript
                                                utilisés pour la mise en page et les fonctionnalités dynamiques.</li>
                                            <li><strong>Services :</strong> Le dossier des services contient les
                                                fichiers JavaScript qui définissent les différents services disponibles
                                                sur le site. Cela inclut notamment le service Discord Bot, qui interagit
                                                avec la base de données du site pour gérer les ateliers, les événements
                                                et les présences.</li>
                                            <li><strong>Vues :</strong> Le dossier des vues contient les fichiers HTML
                                                et EJS qui définissent l'interface utilisateur du site. Chaque fichier
                                                de vue représente une page ou un composant spécifique du site, tel que
                                                la page d'accueil, le formulaire d'inscription ou la liste des
                                                participants.</li>
                                            <li><strong>Fichier server.js :</strong> Le fichier server.js est le point
                                                d'entrée de l'application Express. Il définit la configuration du
                                                serveur, les routes principales et les connexions à la base de données.
                                            </li>
                                        </ul>
                                        <p>Cette architecture modulaire permet une séparation claire des préoccupations
                                            et facilite la maintenance, l'extension et la mise à l'échelle du site
                                            d'Improse Toi.</p>
                                    </section>
                                    <br><br>
                                    <section id="fonctionnalites">
                                        <h2>4. Fonctionnalités Principales</h2>
                                        <p>Le site web d'Improse Toi offre plusieurs fonctionnalités clés pour répondre
                                            aux besoins de ses utilisateurs. Voici une liste des fonctionnalités
                                            principales :</p>
                                        <ul>
                                            <li><strong>Inscription aux Ateliers :</strong> Les utilisateurs peuvent
                                                s'inscrire en ligne aux différents ateliers proposés par l'association.
                                                Le processus d'inscription est simple et intuitif, permettant aux
                                                participants de réserver leur place en quelques clics.</li>
                                            <li><strong>Gestion des Présences :</strong> Le site permet de suivre la
                                                présence des participants aux ateliers et événements organisés par
                                                Improse Toi. Les membres du staff peuvent consulter les listes de
                                                présence et identifier les participants présents à chaque session.</li>
                                            <li><strong>Création de Bilans :</strong> Un système intégré permet de
                                                générer des bilans d'événements, récapitulant les participants présents
                                                à chaque atelier ou événement. Ces bilans peuvent être utilisés pour
                                                évaluer l'impact des activités et planifier les futures sessions.</li>
                                            <li><strong>Communication avec les Membres :</strong> Le site facilite la
                                                communication avec les membres de l'association en fournissant des
                                                informations régulières sur les activités à venir, les rappels
                                                d'événements et les annonces importantes.</li>
                                            <li><strong>Gestion des Informations :</strong> Les membres du staff ont
                                                accès à un tableau de bord administratif pour gérer les données des
                                                utilisateurs, les inscriptions aux ateliers et les autres aspects de
                                                l'administration du site.</li>
                                        </ul>
                                        <p>Ces fonctionnalités principales contribuent à offrir une expérience
                                            utilisateur enrichissante et engageante sur le site d'Improse Toi. Elles
                                            permettent aux participants de profiter pleinement des activités de
                                            l'association et de rester informés des dernières actualités.</p>
                                    </section>
                                    <br><br>
                                    <section id="utilisation">
                                        <h2>5. Guide d'Utilisation</h2>
                                        <p>Le site web d'Improse Toi est conçu pour être intuitif et facile à utiliser
                                            pour ses utilisateurs. Voici un guide d'utilisation pour vous aider à tirer
                                            le meilleur parti de toutes les fonctionnalités disponibles :</p>
                                        <ol>
                                            <li><strong>Inscription aux Ateliers :</strong> Pour vous inscrire à un
                                                atelier, accédez à la page d'inscription, sélectionnez l'atelier de
                                                votre choix, remplissez le formulaire d'inscription et soumettez-le.
                                            </li>
                                            <li><strong>Gestion des Présences :</strong> Les membres du staff peuvent
                                                accéder à la page de gestion des présences pour consulter les listes de
                                                participants et enregistrer les présences aux ateliers et événements.
                                            </li>
                                            <li><strong>Création de Bilans :</strong> Pour générer un bilan d'événement,
                                                accédez à la section dédiée aux bilans, sélectionnez l'événement
                                                souhaité et lancez la génération du bilan. Vous pourrez ensuite
                                                consulter et télécharger le bilan généré.</li>
                                            <li><strong>Communication avec les Membres :</strong> Les messages et les
                                                annonces importantes seront affichés sur la page d'accueil du site.
                                                Assurez-vous de consulter régulièrement cette section pour rester
                                                informé des dernières actualités.</li>
                                            <li><strong>Gestion des Informations :</strong> Les membres du staff peuvent
                                                accéder au tableau de bord administratif pour gérer les données des
                                                utilisateurs, les inscriptions aux ateliers et d'autres aspects de
                                                l'administration du site.</li>
                                            <li>
                                                <strong>Bot Discord Staff :</strong> Le bot discord sur le serveur
                                                discord d'improse toi permet comme dit au dessus, de faire les bilans
                                                (/bilan), gérer les évenements (/evenement) affiché sur le site, savoir
                                                qui est inscrit au atelier sans allez sur le site (/atelier). Vous avez
                                                une aide sur le bot pour savoir comment l'utiliser (/help).
                                            </li>
                                        </ol>
                                        <p>Ce guide d'utilisation vous aidera à naviguer facilement sur le site
                                            d'Improse Toi et à profiter pleinement de toutes ses fonctionnalités. Si
                                            vous rencontrez des problèmes ou si vous avez des questions, n'hésitez pas à
                                            contacter l'équipe de support pour obtenir de l'aide.</p>
                                    </section>
                                    <br><br>
                                    <section id="maintenance">
                                        <h2>6. Maintenance et Développement</h2>
                                        <p>La maintenance régulière du site d'Improse Toi est essentielle pour assurer
                                            son bon fonctionnement et sa sécurité. Voici quelques conseils pour la
                                            maintenance et le développement du site :</p>
                                        <ul>
                                            <li><strong>Mises à Jour :</strong> Assurez-vous de maintenir toutes les
                                                composantes du site à jour, y compris le framework (Express JS), la base
                                                de données (MongoDB), et tout autre logiciel tiers utilisé.</li>
                                            <li><strong>Tests Réguliers :</strong> Effectuez des tests réguliers pour
                                                vérifier la fiabilité et la sécurité du site. Cela inclut les tests de
                                                fonctionnalité, les tests de charge, et les tests de sécurité pour
                                                détecter les éventuelles vulnérabilités.</li>
                                            <li><strong>Backups :</strong> Effectuez des sauvegardes régulières de la
                                                base de données et du code source du site pour éviter toute perte de
                                                données en cas de problème technique ou de sinistre.</li>
                                            <li><strong>Sécurité :</strong> Mettez en place des mesures de sécurité
                                                robustes pour protéger le site contre les attaques malveillantes. Cela
                                                inclut la sécurisation des connexions, la validation des entrées
                                                utilisateur, et la gestion des autorisations.</li>
                                            <li><strong>Feedback Utilisateur :</strong> Recueillez régulièrement les
                                                retours des utilisateurs pour identifier les problèmes potentiels et les
                                                améliorations à apporter au site. Utilisez ces retours pour orienter le
                                                développement futur du site.</li>
                                        </ul>
                                        <p>En suivant ces conseils de maintenance et de développement, vous pouvez
                                            assurer la pérennité et la réussite du site d'Improse Toi dans le temps.
                                            N'oubliez pas de rester attentif aux évolutions technologiques et aux
                                            besoins des utilisateurs pour garantir la pertinence et l'efficacité du
                                            site.</p>

                                    </section>
                                </h3>
                                <a href="https://github.com/AzerX2/ImproseToi"
                                    class="u-active-white u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-none u-btn u-btn-round u-button-style u-hover-feature u-hover-white u-palette-2-base u-radius-50 u-text-active-black u-text-hover-black u-text-palette-1-base u-btn-1"
                                    data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                    data-animation-direction="">Github Site</a>
                                <a href="/"
                                    class="u-active-white u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-none u-btn u-btn-round u-button-style u-hover-feature u-hover-white u-palette-2-base u-radius-50 u-text-active-black u-text-hover-black u-text-palette-1-base u-btn-1"
                                    data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                    data-animation-direction="">Page d'accueil</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9c10">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Improse Toi - Tout droit réservé - 2024</p>
        </div>
    </footer>


</body>

</html>