<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords"
    content="​Lessons &amp;amp; Practice, ​Meet some of our partners!, ​Integrity. Uniqueness. Enjoyment. Ever Forward., ​Our Mission, Contact Us">
  <meta name="description" content="Improse Toi association d'éloquence et d'improvisation">
  <title>inscription</title>
  <link rel="stylesheet" href="/styles/nicepage.css" media="screen">
  <link rel="stylesheet" href="/styles/inscription.css" media="screen">
  <meta name="referrer" content="origin">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">




  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/improsetoi.png"
}</script>
  <meta name="theme-color" content="#4551dd">
  <meta property="og:title" content="inscription">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="fr">
  <header class="u-clearfix u-header u-header" id="sec-fe69">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1" data-image-width="305" data-image-height="305">
        <img src="images/improsetoi.png" class="u-logo-image u-logo-image-1">
      </a>
    </div>
  </header>
  <section
    class="u-align-center-sm u-align-center-xs u-align-right-lg u-align-right-md u-align-right-xl u-clearfix u-palette-1-base u-section-1"
    id="sec-d422">
    <div
      class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
      <div alt="" class="u-image u-image-circle u-image-1" data-image-width="305" data-image-height="305"
        data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
      <div
        class="u-bottom-left-radius-19 u-container-align-left u-container-style u-group u-palette-1-base u-shape-round u-top-left-radius-19 u-group-1"
        data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
        <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-container-layout-1">
          <h1 class="u-align-left u-text u-text-body-alt-color u-text-default u-text-1">Inscription</h1>
        </div>
      </div>
      <div class="u-form u-form-1">
        <form action="/inscription" method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
          source="email" name="form-1" style="padding: 10px;">
          <div class="u-form-group u-form-select u-form-group-1">
            <label for="select-e834" class="u-label">Atelier</label>
            <div class="u-form-select-wrapper">
              <select id="select-e834" name="atelier" class="u-input u-input-rectangle">
                <option value="Atelier d'improvisation avancée">Atelier d'improvisation avancée</option>
                <option value="Atelier d'improvisation tous niveaux">Atelier d'improvisation tous niveaux</option>
                <option value="Atelier d'éloquence">Atelier d'éloquence</option>
              </select>
              <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px"
                viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve">
                <polygon class="st0" points="8,12 2,4 14,4 "></polygon>
              </svg>
            </div>
          </div>
          <div class="u-form-group u-form-name">
            <label for="name-11f4" class="u-label">Nom</label>
            <input type="text" placeholder="Saisissez votre nom" id="name-11f4" name="nom"
              class="u-input u-input-rectangle" required="">
          </div>
          <div class="u-form-group u-form-name">
            <label for="name-11f4" class="u-label">Prénom</label>
            <input type="text" placeholder="Saisissez votre prénom" id="name-11f4" name="prenom"
              class="u-input u-input-rectangle" required="">
          </div>
          <div class="u-form-group u-form-name">
            <label for="name-11f4" class="u-label">Mail</label>
            <input type="text" placeholder="Saisissez votre mail" id="name-11f4" name="mail"
              class="u-input u-input-rectangle" required="">
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <button type="submit" class="u-btn u-btn-submit u-button-style">S'inscrire</button>
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
          <input type="hidden" name="formServices" value="3ce17f40-85bf-3627-22af-062416e4ce6b">
        </form>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-container-align-center u-palette-1-base u-section-2" id="sec-fd6f">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-align-left u-video u-video-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/pZlqcVUFCfg?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-align-center u-text u-text-default u-text-1">Interview</h2>
      <p class="u-align-center u-text u-text-2">Si vous avez encore un doute avant de vous inscrire, regardez cette
        vidéo</p>
    </div>
  </section>



  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9c10">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Improse Toi - Tout droit réservé - 2024</p>
    </div>
  </footer>

</body>

</html>