<!DOCTYPE html>
<html style="font-size: 16px;" lang="fr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords"
    content="​Lessons &amp;amp; Practice, ​Meet some of our partners!, ​Integrity. Uniqueness. Enjoyment. Ever Forward., ​Our Mission, Contact Us">
  <meta name="description" content="Improse Toi association d'éloquence et d'improvisation">
  <title>liste</title>
  <link rel="stylesheet" href="/styles/nicepage.css" media="screen">
  <link rel="stylesheet" href="/styles/list.css" media="screen">
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">




  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/improsetoi.png"
}</script>
  <meta name="theme-color" content="#4551dd">
  <meta property="og:title" content="list">
  <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="fr">
  <header class="u-clearfix u-header u-header" id="sec-fe69">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="/" class="u-image u-logo u-image-1" data-image-width="305" data-image-height="305">
        <img src="images/improsetoi.png" class="u-logo-image u-logo-image-1">
      </a>
    </div>
  </header>
  <section class="u-clearfix u-palette-1-base u-section-1" id="carousel_9f62">
    <h2 class="u-align-center u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1250"
      data-animation-delay="500">Liste des participants</h2>
    <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1750"
      data-animation-delay="500"> Clique sur chaque atelier pour voir la liste associée des participants, cela te permet
      de voir aussi s'il reste de la place ou pas<br>
    </p>
    <div class="custom-expanded u-container-style u-group u-palette-2-base u-shape-rectangle u-group-1"
      data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="1000">
      <div class="u-container-layout u-container-layout-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div
              class="u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-1"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
              data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h6 class="u-align-center u-custom-font u-font-ubuntu u-text u-text-palette-1-base u-text-3">Atelier
                  d'impro TOUT NIVEAU</h6>
                <a href="/liste/impro-tous-niveaux"
                  class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1">Liste
                </a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-2"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
              data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h6 class="u-align-center u-custom-font u-font-ubuntu u-text u-text-palette-1-base u-text-4">Atelier
                  d'impro avancé</h6>
                <a href="/liste/impro-avancee"
                  class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-2">Liste
                </a>
              </div>
            </div>
            <div
              class="u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"
              data-animation-direction="">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h6 class="u-align-center u-custom-font u-font-ubuntu u-text u-text-palette-1-base u-text-5">Atelier
                  d'éloquence</h6>
                <a href="/liste/eloquence"
                  class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-3">Liste
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-container-align-center u-palette-1-base u-section-2" id="carousel_b3ce">
    <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div
              class="u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-30-xl u-size-33-lg u-size-33-md u-size-33-sm u-size-33-xs u-layout-cell-1">
              <div
                class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                <div class="u-expanded-width u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div
                      class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1"
                      data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                      data-animation-direction="">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                        <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1"
                          data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">1
                        </h3>
                        <h6
                          class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-2">
                          Intervenants exclusif</h6>
                      </div>
                    </div>
                    <div
                      class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2"
                      data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                      data-animation-direction="">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                        <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-3"
                          data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">15
                        </h3>
                        <h6
                          class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-4">
                          limite de personne pour l'impro</h6>
                      </div>
                    </div>
                    <div
                      class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3"
                      data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                      data-animation-direction="">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                        <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-5"
                          data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">
                          +100</h3>
                        <h6
                          class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-6">
                          Adhérents</h6>
                      </div>
                    </div>
                    <div
                      class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4"
                      data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                      data-animation-direction="">
                      <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                        <h3 class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-7"
                          data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">30
                        </h3>
                        <h6
                          class="u-align-center u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-8">
                          Limite de personne pour l'éloquence</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-27-lg u-size-27-md u-size-27-sm u-size-27-xs u-size-30-xl u-layout-cell-2"
              data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-valign-middle u-container-layout-6">
                <h3
                  class="u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-default u-text-9"
                  data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">Des
                  ateliers de qualité avec un intervenant de qualité </h3>
                <a href="/inscription"
                  class="u-active-white u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-none u-btn u-btn-round u-button-style u-hover-feature u-hover-white u-palette-2-base u-radius-50 u-text-active-black u-text-hover-black u-text-palette-1-base u-btn-1"
                  data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                  data-animation-direction="">Inscrit toi </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>



  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9c10">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Improse Toi - Tout droit réservé - 2024</p>
    </div>
  </footer>


</body>

</html>